#container{
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    gap: 20px;
    padding: 20px;
}

#top{
    padding: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #007bff;
    border-radius: 20px;
    color: white;
    gap: 30px;
    border: 1px solid #85858555;
}

#topLeft{
    height: inherit;
    width: 10%;
}

#heading{
    font-size: xx-large;
    font-weight: 600;
    width: 40%;
}

#middle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.middleItem{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #181818;
    border-radius: 20px;
    border: 1px solid #85858555;
    cursor: pointer;
}

.middleItemText{
    font-size: large;
    font-weight: 500;
    text-align: center;
}

.middleItemNumber{
    font-size: xx-large;
    font-weight: 700;
    color: #007bff;
}
/* styles/products list.css */
.cart {
    margin: 0 auto;
    padding: 16px;
    border-radius: 8px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .cartIsEmpty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cartIsEmpty>span:hover {
    cursor: pointer;
    text-decoration: underline;
    /* border-bottom: 1px solid black; */
  }
  .cart h2,
  .checkoutHeading {
    font-size: 18px;
    line-height: 32px;
    margin: 0 0 0.5em;
    padding: 7px 0;
    color: #363636 !important;
    text-transform: uppercase;
  }
  .shoppingCart {
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    width: fit-content;
    justify-content: center;
    margin-bottom: 21px;
  }
  .heading {
    text-transform: uppercase;
    width: 100%;
  }
  .cartContanier {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .rupee{
      font-size: 18px;
  }
  /* product container */
  .product {
    width: 60%;
  }
  .ProductsContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* align-items: center; */
  }
  .ProductsContainerLeft {
    width: 50%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
  }
  .ProductsContainerRight {
    width: 50%;
    height: 100%;
    margin-left: 10px;
  }
  .cartItemInfo {
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: none;
    color: #363636;
    line-height: 1.8em;
    display: flex;
    align-items: center;
  }


  @media (max-width: 700px) {
    .cartContanier {
      display: flex;
      /* justify-content: center; */
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    /* product container */
    .product {
      width: 100%;
    }
    .ProductsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      /* align-items: center; */
    }
    .ProductsContainerLeft {
      width: 100%;
      height: 100%;
      max-height: 300px;
      object-fit: cover;
    }
    .ProductsContainerRight {
      width: 100%;
      height: 100%;
      margin-left: 10px;
    }
    .cartItemInfo {
      margin-bottom: 0px;
      font-size: 14px;
      text-transform: none;
      color: #363636;
      line-height: 1.8em;
    }
  
    
  }
  