#container{
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    gap: 20px;
    padding: 20px;
}

#top{
    padding: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #007bff;
    border-radius: 20px;
    color: white;
    gap: 30px;
    border: 1px solid #85858555;
}

#topLeft{
    height: inherit;
    width: 10%;
}

#heading{
    font-size: xx-large;
    font-weight: 600;
    width: 40%;
}

#middle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.middleItem{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #181818;
    border-radius: 20px;
    border: 1px solid #85858555;
    cursor: pointer;
}

.middleItemText{
    font-size: large;
    font-weight: 500;
}

.middleItemNumber{
    font-size: xx-large;
    font-weight: 700;
    color: #007bff;
}