
.myAccountContainer{
  min-height: 100svh;
  background: #000;
}
.myAccount {
  /* min-height: 90svh; */
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  padding: 0;
}
.info{
  display: flex;
  color:#007bff ;
  margin-bottom: 30px;
  padding-left: 5px;
  gap: 3px;
}
.infoType{
  display: flex;
  color:#ffffff ;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  height: 10%;
  color: white;
  margin-bottom: 30px;
}
.login {
  background: black;
  display: flex;
  padding-top: 67px;
  min-height: 80svh;
  color: white;
}
.sideslider {
  width: 50%;
  padding: 0 !important;
  height: 80svh;
}
.SignUpSliderSlide {
  height: 80svh;

  padding: 0;
}
.review {
  text-align: center;
}
.images {
  padding: 0;
  object-fit: cover;
  width: 100%;
  height: 80svh;
}
.myAccountForm,
.resetPassword,
.changeEmail ,
.changePhoneNo{
  width: 50%;
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.myAccountForm {
  margin-bottom: 50px;
}
.myAccountForm h2,
.resetPassword h2,
.changeEmail h2 ,
.deleteAccount h2 ,
.changePhoneNo h2 {
  text-align: center;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 20px;
}
.userName,
.password,
.email {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  position: relative;

}
.myAccountForm label,
.resetPassword label,
.changeEmail label, 
.changePhoneNo label {
  /* font-weight: bolder; */
  font-size: 16px;
  padding-left: 5px;
  position: absolute;
  top: -15px;
  transform: translateY(15px);
  transition: all 0.4s;
}
.myAccountForm input,
.resetPassword input,
.changeEmail input, 
.changePhoneNo input {
  border: 0px;
  border-bottom: 1px solid white;
  outline: 0;
  text-underline-offset: 0px;
  font-size: 14px;
  padding: 5px 0 2px 5px;
  margin-bottom: 24px;
  background-color: black;
  color: #007bff !important;
}
.inputField:focus ~ label,
.inputField:not(:focus):valid ~ label {
  transform: translateY(-15px);
  transition: all 0.4s;
}
.submitButton {
  background: #000;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-transform: capitalize;
  width: 100% !important;
  height: 30px !important;
  height: 30px !important;
}
.submitButton:hover {
  cursor: pointer;
}
.forgotPassword {
  margin-top: 19px;
}
.forgotPassword:hover {
  cursor: pointer;
  color: gray;
}
.password {
  position: relative;
}
.visibility {
  position: absolute;
  right: 20px;
  bottom: 5px;
}
.visibility:hover {
  cursor: pointer;
}
.VisibleIcon{
  font-size: 20px !important;
}
.inputField {
  color: white;
  margin-bottom:30px !important;
}
.myAccountForm,
.changeEmail,
.changePhoneNo,
.resetPassword,
.deleteAccount {
  width: 50%;
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.message:hover{
cursor: pointer;
}
.deleteAccount h2 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.changeEmail h2,
.changePhoneNo h2,
.resetPassword h2 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.resetPasswordButton,
.changeEmailButton,
.changePhoneNoButton,
.deletePopUpButton {
  background: #000;
  color: white;
  padding: 5px 10px;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
}
.resetPasswordButton:hover,
.changeEmailButto:hover,
.changePhoneNoButton:hover,
.deletePopUpButton:hover {
  cursor: pointer;
  background: #151515;
  color: white;
  font-weight: bolder;
}

@media (max-width: 650px) {
  .myAccountContainer{
    min-height: 100svh;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .myAccount {
    /* min-height: 90svh; */
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 0;
    flex-wrap: nowrap;
  }
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    height: 60px;
  }
  .myAccountForm,
.changeEmail,
.changePhoneNo,
.resetPassword,
.deleteAccount {
  width: 90%;
  max-width: 500px;
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}

  .login {
    justify-content: center;
  }
  .sideslider {
    display: none;
  }
}
/* delete  */
/*------------ delete ----------- */
.deletePopUp{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  padding: 10px 20px;
  max-width: 500px;
  box-shadow: 0px 0px 7px 2px gray;
  /* border: 1px solid black; */
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  z-index: 99;
  background: white;
  color: #000;
  /* box-shadow: 2px 2px 5px 1px grey; */
}
.deletePopUp p{
font-size: 16px ;
font-weight: lighter;
 display: block;
}
.deletePopUp p:nth-child(2n){
font-size: 16px ;
font-weight: lighter;
 display: block;
 color: red;
}
.deletePopUpButtons{
font-size: 16px ;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.deletePopUpButton {
  background: #000;
  color: white;
  padding: 5px 10px;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
}
.deletePopUp>button{
  background: rgb(0, 0, 0);
  position: absolute;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  width: 20px;
  height:20px;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-10px,10px);
}
.deletePopUp>button:hover{
cursor: pointer;   
}
.deletePopUpButton:hover{
  cursor: pointer;
  background: #151515;
  /* box-shadow: 2px 2px 5px 1px grey; */
  color: white;
  font-weight: bolder;
  
}
@media (max-width:650px) {
  .deletePopUp{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding: 10px 20px;
    max-width: 500px;
    box-shadow: 0px 0px 7px 2px gray;
    /* border: 1px solid black; */
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,50%);
    z-index: 99;
    background: white;
    /* box-shadow: 2px 2px 5px 1px grey; */
  }
}