#container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    border-right: var(--border);
    background-color: #181818;
}

#heading{
    font-size: x-large;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
}

#selectedHeading{
    font-size: x-large;
    font-weight: 600;
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #85858555;
}

#heading:hover{
    background-color: #85858555;
}

.item{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
}

.item:hover{
    background-color: #85858555;
}

.selectedItem{
    text-decoration: none;
    padding: 5px 10px;
    background-color: #85858555;
    color: #007bff;
    border-radius: 3px;
}