#container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#heading{
    font-size: xx-large;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#text{
    color: grey;
}
.userCard{
    background:#85858555;
    height: 150px;
    border: var(--border);
    border-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    place-content: center;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.userCard:hover{
 cursor: pointer;
}
.userAvtar{
    justify-self: center;
    background: white;
    border-radius: 50%;
    display: grid;
    place-content: center;
}
.userInfo>div{
    margin-bottom: 2px;
    color:blue;
}
.userDetails{
    color:rgb(255, 255, 255);
}